{% extends 'base.html' %}

{% block head %}
    <title>Höhenverstellung</title>
{% endblock %}

{% block header %} 
    <h1>Höhenverstellung</h1>
{% endblock header %}

{% block body %}
    <table id="heightTable">
        <tr>
            <td>
                <form method="POST" action="/pageHeight/down" class="arrow-down">
                    <input type="submit" value=""/>
                </form>
            </td>
            <td>
                <h3>{{ heightDisplay }} cm</h3>
            </td>
            <td>
                <form method="POST" action="/pageHeight/up" class="arrow-up">
                    <input type="submit" value=""/>
                </form>
            </td>
        </tr>
    </table>

    <div class="grid-container">
        <div class="left"><form method="GET" action="/" class="pageButton"><input type="submit" value="Zurück" class="pageInput" style="background-color: rgba(67, 252, 219, 0.6);"/></form></div>
        <div class="right"><form method="POST" action="/pageHeight/reference" class="pageButton"><input type="submit" value="Referenzieren" class="pageInput" style="background-color: rgba(67, 252, 218, 0.9);"/></form></div>
    </div>
{% endblock %}